@use '../setup/typography';

#whyWeAreDifferentWrapper {
  background: var(--colorBackgroundGray);
}
#whyWeAreDifferent {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 5rem 4.25rem;
  max-width:1920px;
  margin:0 auto;
  @media(max-width: 900px) {
    padding: 3rem 1.25rem;
    flex-direction:column;
    gap:2.8rem;
  }

  #whyWeAreDifferentLeft {
    max-width: 518px;
    @media(max-width: 900px) {
      max-width:100%;
    }

    h2 {
      @include typography.type(h5);
      color: var(--colorDarkBlue);
      margin-bottom: 1.5rem;
      text-transform: uppercase;
    }

    h3 {
      @include typography.type(h1);
      color: var(--colorDarkBlue);
      margin-bottom: 1.5rem;
      @media(max-width: 900px) {
        @include typography.type(h2);
      }

      b {
        color: var(--colorOrange);
        font-weight: inherit;
      }
    }

    p {
      @include typography.type(text);
      color: var(--colorDarkBlue);
    }
  }

  #whyWeAreDifferentRight {
    display: flex;
    gap: 3.5rem;
    flex-direction:column;
    max-width:580px;
    @media(max-width: 900px) {
      max-width:100%;
    }
    .reason {
      h4 {
        @include typography.type(h3);
        color: var(--colorDarkBlue);
      }
      p {
        @include typography.type(text);
        color: var(--colorDarkBlue);
      }
    }
     span {
         @include typography.type(h3);
       color:var(--colorOrange);
     }
  }
}