#notFound {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  align-items: center;
  gap: 1rem;
  color: var(--colorDarkBlue);
  a {
    text-decoration:underline;
  }
  h1 {
    text-align:center;
  }
}

main.loggedIn {
  #notFound {
    padding:7rem 0;
    margin-top:0;
  }
}