.freeze {
  overflow:hidden;
}

main {
  &.loggedIn {
    background:var(--colorBackgroundGray);
  }
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  &>span {
    &.error {
      background: #dc3545;
      color: white;
      padding: 0.5em;
      width: 100%;
    }
  }
}