.freeze {
  overflow:hidden;
}

main {
  &.loggedIn {
    background:var(--colorBackgroundGray);
  }
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  &>span {
    padding: 0.5em;
    width: 100%;
    &.error {
      background: #dc3545;
      color: white;
    }
    &.success {
      background:#198754;
      color: white;
    }
    &.info {
      background: transparent;
      color: var(--colorDarkBlue);
      border: 2px solid var(--colorDarkBlue);
      border-radius: 4px;
      padding: 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      a {
        text-decoration:underline;
        font-weight:bold;
      }
    }
  }
}