:root {
  --colorBeige: #F9F3DC;
  --colorGreen: #CFF54D;
  --colorBlue: #1A00F3;
  --colorDarkBlue: #262185;
  --colorBlueHover:#151161;
  --colorOrange: #FE5101;
  --colorOrangeHover:#DB4805;
  --colorYellow: #FFD533;
  --colorPink: #FACAFF;
  --colorPurple: #9747FF;
  --colorDarkGreen:#114D33;
  --colorLightGreen:#7BCF71;
  --colorGrassGreen:#4AA91C;
  --colorGrassGreenLight:#72BF44;
  --colorGray: #6B728080;
  --colorGrayLight:#DADAE4;
  --colorBackgroundGray:#F3F4F6;
}