@use '../setup/typography';
.instructionsTable {
  background:var(--colorDarkBlue);
  padding:5rem 11rem;
  table {
    background:white;
    width:100%;
    border-radius:10px;
    thead {
      tr {
        th {
          text-align:left;
          padding:1rem;
          @include typography.type(h4);
          color:var(--colorDarkBlue);
        }
      }
    }
  }
}