@use '../setup/typography';

.lineGridWrapper {
  padding: 5rem 4.25rem;
  @media(max-width: 1000px) {
    display:none;
  }
  .lineGrid {
    padding: 5rem;
    background: var(--colorBackgroundGray);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;

    .mainLine {
      position: absolute;
      height: 96%;
      width: 4px;
      background: rgba(38, 33, 133, 0.2);
      z-index: 1;
    }

    .grid {
      z-index: 2;
      position: relative;

      .title {
        @include typography.type(h3);
        color: var(--colorDarkBlue);
        word-wrap: break-word;
        white-space: break-spaces;
        display: block;
      }
      .info {
        width: 237px;
        display: flex;
        gap: 1.25rem;
        flex-direction: column;
        padding: 1.25rem;
        border: 1px solid rgba(38, 33, 133, 0.2);
        border-radius: 10px;

        p {
          @include typography.type(caption);
          color: var(--colorDarkBlue);
        }
      }

      .connector {
        position: absolute;
        height: 1px;
        width: 23%;
        left: -23%;
        top: 30px;
        background: rgba(38, 33, 133, 0.2);
      }
      .left {
        .info {
          margin-left:auto;
        }
        .connector {
          right: -23%;
          left:unset;
        }
      }

      .left, .right {
        .title {
          &.end {
            white-space: unset;
            .main {
              @include typography.type(h2);
              color: var(--colorDarkBlue);
              display:block;
            }
            .secondary {
              @include typography.type(h3);
              color: var(--colorDarkBlue);
              font-weight:500;
              display:block;
            }
          }
        }
        .belowTitleDescription {
          border-radius: 10px;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.4;
          color: var(--colorDarkBlue);
          background: white;
          padding: 1rem;
          display:block;
          position:relative;
        }
        .description {
          background:white;
          border-radius:10px;
          padding:1.25rem;
          ul, ol {
            list-style:disc;
            padding-left:1.5rem;
          }
          p,ul,li,a,h1,h2,h3,h4,h5,h6,b {
            @include typography.type(text);
            color:var(--colorDarkBlue);
          }
          span {
            @include typography.type(caption);
            margin-top:1rem;
            color:var(--colorDarkBlue);
            display:block;
          }
        }
      }


      .left {
        position: absolute;
        width: 344px;
        right: 110px;
        top: 0;
        .title {
          text-align:right;
        }
      }

      .right {
        position: absolute;
        width: 344px;
        left: 110px;
        top: 0;
        .title {
          text-align:left;
        }
      }

      .center {
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        &.numbered {
          background: var(--colorOrange);
          @include typography.type(h3);
          color: var(--colorBeige);
        }

        &.icon {
        }
      }
    }
  }
}
.lineGridWrapperMobile {
  padding: 3rem 1.25rem;
  @media(min-width:1001px) {
    display:none;
  }
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:2rem;
  background: var(--colorBackgroundGray);
  position:relative;
  .mainLine {
    position: absolute;
    height: 98%;
    width: 4px;
    background: rgba(38, 33, 133, 0.2);
    z-index: 0;
  }
  .step {
    z-index:1;
    &.number {
      background: var(--colorOrange);
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1.2;
      color: var(--colorBeige);
      width: 56px;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin-bottom:6rem;
    }
    &.icon {
      width:57px;
      height:57px;
      margin-bottom:3rem;
      &.withCustomCircle {
        padding:1rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        &.blue {
          background:var(--colorDarkBlue);
        }
        &.orange {
          background:var(--colorOrange);
        }
      }
    }
  }
  .stepSection {
    padding:2rem;
    background:white;
    width:100%;
    margin-bottom:3rem;
    z-index:1;
    &:has(.title) {
      .description {
        text-align:center;
        margin-top:1rem;
      }
    }
    .collapsibleWrapper {
      p {
        .footerText {
          padding:0;
        }
        .belowFooterText {
          padding:0;
        }
      }
      .listItemInText {
        padding:0;
      }
    }
    .description {
      p {
        @include typography.type(text);
        color: var(--colorDarkBlue);
      }
      ul {
        @include typography.type(text);
        color: var(--colorDarkBlue);
        padding-left:2rem;
        list-style:disc;
      }
      span {
        @include typography.type(caption);
        color: var(--colorDarkBlue);
        &.footerText {
          margin-top:1rem;
          display:block;
        }
      }
    }
    .title {
      @include typography.type(h3);
      color: var(--colorDarkBlue);
      text-align:center;
      display:block;
      .main {
        display:block;
      }
      .secondary {
        font-weight:normal;
      }
    }
    .info {
      padding: 1.25rem;
      border: 1px solid rgba(38, 33, 133, 0.2);
      border-radius: 10px;
      margin-top:2rem;
      display:flex;
      flex-direction:column;
      gap:1rem;
      p {
        @include typography.type(caption);
        color: var(--colorDarkBlue);
      }
    }
    .collapsibleWrapper {
      span {
        padding: 1rem;
        display:block;
        @include typography.type(caption);
        color: var(--colorDarkBlue);
      }
    }
  }
}

.collapsibleHandle {
  background: var(--colorDarkBlue);
  margin-top: 1rem;
  padding: 1.25rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  &:has(.image) {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
  }
  span {
    @include typography.type(h4);
    color: white;
    flex: 1;
    pointer-events: none;
  }
}

.collapsible {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.3s ease grid-template-rows;

  &.active {
    grid-template-rows:1fr;
  }

  .collapsibleWrapper {
    overflow: hidden;
    margin-top: 1rem;

    p {
      border-radius: 10px;
      @include typography.type(text);
      color: var(--colorDarkBlue);
      background: white;
      padding: 1rem;
      &>a {
        display:flex;
        align-items:center;
        gap:0.5rem;
        margin-top:1rem;
        transition:0.3s ease all;
        &:hover {
          color:var(--colorOrange);
        }
      }
      .listItemInText {
        margin-top:0;
        margin-left:10px;
        @include typography.type(text);
        color: var(--colorDarkBlue);
        &:before {
          content: "•";
          margin-right: 8px;
        }
      }
      .boldSubtitle {
        margin-top:1rem;
        display:block;
      }
      b {
        &.footerText {
          font-weight:bold;
          @include typography.type(h5);
        }
      }
      .belowFooterText {
        @include typography.type(text);
        color: var(--colorDarkBlue);
        margin-top:1rem;
      }
      .footerText {
        @include typography.type(caption);
        margin-top:1rem;
        display:block;
      }
      span {
        @include typography.type(caption);
        color: var(--colorDarkBlue);
        display: block;
        margin-top: 1rem;
      }
    }
  }
}