@use '../setup/typography';
.projectsWrapper {
  padding: 5rem 4.25rem;
  @media(max-width: 768px) {
    padding: 3rem 1.25rem;
  }
  &:has(>:last-child.whatIsContent) {
    padding-bottom:0;
  }
  &.dark {
    background:var(--colorBackgroundGray);
  }
  > h1, > h2 {
    @include typography.type(h2);
    color: var(--colorDarkBlue);
    margin-bottom:5rem;
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    @media(max-width:768px) {
      @include typography.type(h3);
      margin-bottom:3rem;
    }
  }
  &:has(>p) {
    >h1,>h2 {
      margin-bottom:0.5rem;
    }
    >p {
      &:last-of-type {
        margin-bottom: 5rem;
      }
    }
  }
  >p {
    @include typography.type(text);
    color:var(--colorDarkBlue);
    text-align:center;
  }
  &.vertical {
    .projectsDisplay {
      flex-direction:column;
      gap:1.5rem;
      .projectDisplay {
        max-width:1083px;
        margin-left:auto;
        margin-right:auto;
        svg {
          width:250px;
          height:auto;
        }
      }
    }
  }
  .projectsDisplay {
    display: flex;
    justify-content: center;
    gap: 6rem;
    max-width:1920px;
    margin:0 auto;
    img {
      width:140px;
      height:auto;
    }
    @media(max-width: 768px) {
      flex-direction: column;
      gap: 3rem;
    }
    .projectDisplay {
      padding: 2rem;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      gap: 3rem;

      &.education {
        background: var(--colorBlue);

        h2, p, span, li {
          color: var(--colorBeige);
        }
      }

      &.repression {
        background: var(--colorGreen);

        h2, p, span, li {
          color: var(--colorDarkBlue);
        }
      }

      h2 {
        @include typography.type(h2);
      }

      p, span, li {
        @include typography.type(text);
        font-weight: 300;
      }

      span {
        display: block;
        margin-top:1rem;
      }

      ul, ol {
        list-style: disc;
        padding-left: 1.5rem;
      }
    }
  }
  .points {
    border-radius: 20px;
    display:grid;
    grid-column-gap:1.5rem;
    grid-row-gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    @media(max-width:450px) {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    max-width:1083px;
    margin-left:auto;
    margin-right:auto;
    margin-top:1.6rem;
    .point {
      padding: 2rem;
      border-radius: 20px;
      &.education {
        background: var(--colorBlue);
        h2,h3,li,h4, p, span, li {
          color: var(--colorBeige);
        }
      }
      &.repression {
        background: var(--colorGreen);

        h2,h3,li,h4, p, span, li {
          color: var(--colorDarkBlue);
        }
      }
      h3 {
        @include typography.type(h4);
      }
      h4 {
        @include typography.type(h3);
      }
      .images {
        display:flex;
        align-items:center;
        gap:1rem;
        margin-top:1.5rem;
        margin-bottom:1.5rem;
      }
      ul, ol {
        list-style:disc;
        padding-left:1.5rem;
        margin-top:1.5rem;
      }
      .underline {
        text-decoration:underline;
      }
    }
  }
  .whatIsContent {
    .whatIsSection {
      padding-left:0;
      padding-right:0;
    }
  }
}