/* ==========================================================================
   Typography variables
   ========================================================================== */
$text-color: #636366;
$heading-color: #1a1f36;
$main-color: #5469d4;

$transition-timing: .2s ease-out;
$color-transition: color $transition-timing;
$background-color-transition: background-color $transition-timing;
$border-color-transition: border-color $transition-timing;
$opacity-transition: opacity $transition-timing;
$button-transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out;

/* ==========================================================================
   Box variables
   ========================================================================== */
$background-color: #fff;
$additional-background-color: #f4f4f4;
$border-color: rgba(84, 105, 212, 0.5);
$border-radius: 4px;
$box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);

/* ==========================================================================
   Devices screen size variables
   ========================================================================== */
$screen-size-1681: 1681px;
$screen-size-1680: 1680px;
$screen-size-1601: 1601px;
$screen-size-1600: 1600px;
$screen-size-1513: 1513px;
$screen-size-1512: 1512px;
$screen-size-1369: 1369px;
$screen-size-1368: 1368px;
$screen-size-1201: 1201px;
$screen-size-1200: 1200px;
$screen-size-1025: 1025px;
$screen-size-1024: 1024px;
$screen-size-881: 881px;
$screen-size-880: 880px;
$screen-size-681: 681px;
$screen-size-680: 680px;
$screen-size-481: 481px;
$screen-size-480: 480px;
