/* ==========================================================================
   Include main
   ========================================================================== */
@use 'parts/grid-default' as *;
@use 'parts/grid-responsive' as *;
@use './parts/global-default' as *;

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

* {
	box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}

.clearfix::after {
	clear: both;
}
