.input[type="checkbox"] {
  transition:none !important;
}

#crudForm {
  .inputContainer {
    &:has(input[type="checkbox"]) {
      width: max-content;
    }
  }
}

select {
  &[readonly] {
    pointer-events:none;
    background: var(--colorSurface-200);
    color: var(--colorSurface-600);
  }
}